<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - parcial_Horta_Gomez</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/parcial_Horta_Gomez.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow">
        <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between p-2">
                <div class="flex items-center">
                    <a asp-area="" asp-page="/Index" class="font-bold text-3xl text-black">ROSTROS FELICES</a>
                </div>
                <div class="flex items-center gap-2">
                    <a class="ml-6 text-gray-600 hover:text-gray-800" asp-area="" asp-page="/Index">Home</a>
                    <a class="ml-6 text-gray-600 hover:text-gray-800" asp-area="" asp-page="/Empleados/Index">Empleados</a>
                    <a class="ml-6 text-gray-600 hover:text-gray-800" asp-area="" asp-page="/Servicios/Index">Servicios</a>
                    <a class="ml-6 text-gray-600 hover:text-gray-800" asp-area="" asp-page="/Clientes/Index">Clientes</a>
                    <a class="ml-6 text-gray-600 hover:text-gray-800" asp-area="" asp-page="/Facturas/Index">Facturas</a>
                    <a class="ml-6 text-gray-600 hover:text-gray-800" asp-area="" asp-page="/Auth/login">Login</a>
                    <a class="ml-6 text-gray-600 hover:text-gray-800" asp-area="" asp-page="/Auth/Register">Register</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            @RenderBody()
        </div>
    </main>

    <footer class="bg-gray-200">
        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
            <p class="text-center text-gray-600">© 2023 Your Company. All rights reserved.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>