@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h1 class="font-bold text-xl m-2">FCECEP</h1>
        <h2 class="font-bold text-lg m-2">ESTUDIANTES:</h2>
        <p>Juan Camilo Horta</p>
        <p>Miguel Martinez Gomez</p>
    </div>
</div>
