@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="bg-white p-4 text-center">
    <div class="flex justify-center">
        <img src="./img/logo-fcecep.png" alt="Logo fcecep" class="h-[200px] p-2">
    </div>
    <div class="mt-4">
        <h1 class="font-bold text-xl m-2">PROYECTO:</h1>
        <p>Rostros Felices</p>
        <h2 class="font-bold text-lg m-2">ESTUDIANTES:</h2>
        <p>Juan Camilo Horta</p>
        <p>Miguel Martinez Gomez</p>
        <h2 class="font-bold text-lg m-2">PROFESOR:</h2>
        <p>Yovany Romo</p>
        <h2 class="font-bold text-lg m-2">S4AN</h2>
    </div>
</div>
